// Arakawa Laboratory
$arkw-color: #303f9f;
$arkw-color-light: #7986cb;
$arkw-color-background: #e8eaf6;

// Basic
$white: #fff;
$red: #ef5350;
$gray: #757575;
$black: #000;

// Work
$work-web: #673ab7;
$work-graphic: #2196f3;
$work-system: #607d8b;
$work-movie: #f44336;

// Material Design
$lime-500: #cddc39;
$gray-50: #fafafa;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-900: #212121;
$bluegray-500: #607d8b;
