// Common

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
}

a {
	color: $arkw-color;
}

p, .main_right th, .main_right td {
	line-height: 22px;
}

span {
	&.spec {
		color: $gray;
	}
}


// Wrapper

.wrapper {
	width: 1200px;
	margin: auto;
	overflow: hidden;
}


// Main

.main {
	width: 1200px;
	margin: auto;
	padding: 20px 5px;
	overflow: hidden;
	box-sizing: border-box;

	h1 {
		padding-top: 20px;
		padding-bottom: 5px;
		font-size: 26px;
		font-weight: normal;

		&.heading {
			padding-top: 20px;
			padding-bottom: 10px;
			color: $arkw-color;
			overflow: hidden;
		}
	}

	p {
		padding: 5px 0;
	}
}

.main_social {
	padding-bottom: 2px;
	padding-right: 5px;
	vertical-align: middle;
}

.main_left {
	width: 440px;
	float: left;
}

.main_left_banner {
	margin-top: 5px;
}

.main_right {
	width: 700px;
	float: right;

	h2 {
		padding: 5px 0;
		font-size: 16px;
		font-weight: bold;
	}

	th {
		padding-right: 20px;
		vertical-align: top;
		text-align: left;
		white-space: nowrap;
	}

	ul {
		padding-left: 17px;
	}

	li {
		padding-left: 5px;
		line-height: 24px;
	}
}

.main_skill {
	padding-right: 7px;
	padding-bottom: 2px;
}


// Others

.link-banner {
	margin-bottom: 3px;
}
