// Color

$arkw-color: #3f51b5;
$white: #fff;
$red: #ef5350;
$gray: #757575;
$black: #000;

// Common

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic',
    sans-serif;
  font-size: 14px;
}

a {
  color: $arkw-color;

  &:hover {
    opacity: 0.7;
  }
}

p,
.main_right th,
.main_right td {
  line-height: 22px;
}

span {
  &.spec {
    color: $gray;
  }
}

// Wrapper

.wrapper {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

// Header

.header {
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  z-index: 100;
  background-color: $arkw-color;

  img {
    height: 60px;
  }
}

// Navi

.navi {
  width: 1200px;
  margin: auto;
  margin-bottom: -40px;
  padding: 40px;
}

.slick-slider img {
  width: 100%;
}

// Main

.main {
  width: 1200px;
  margin: auto;
  padding: 20px 5px;
  overflow: hidden;
  box-sizing: border-box;

  h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 26px;
    font-weight: normal;

    &.heading {
      padding-top: 20px;
      color: $arkw-color;
      overflow: hidden;
    }
  }

  p {
    padding: 5px 0;
  }
}

.main_social {
  padding-bottom: 2px;
  padding-right: 5px;
  vertical-align: middle;
}

.main_left {
  width: 440px;
  float: left;
}

.main_left_banner {
  margin-top: 5px;
}

.main_right {
  width: 700px;
  float: right;

  h2 {
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
  }

  th {
    padding-right: 20px;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
  }

  ul {
    padding-left: 17px;
  }

  li {
    padding-left: 5px;
    line-height: 24px;
  }
}

.main_skill {
  padding-right: 7px;
  padding-bottom: 2px;
}

// Box

.warn_box {
  margin: 10px 0;
  padding: 10px;
  background-color: $red;
  color: $white;

  span {
    margin-bottom: 8px;
    display: block;
    font-size: 20px;
    line-height: 28px;
  }

  p {
    padding-left: 5px;
  }

  a {
    color: $white;
  }
}

// Topics

.topics {
  margin-bottom: 5px;
  overflow: hidden;
}

.topics_icon {
  width: 100px;
  float: left;

  img {
    width: 80px;
    height: 80px;
    box-shadow: 0 1px 3px $gray;
  }
}

.topics_main {
  width: calc(100% - 100px);
  float: right;

  h1 {
    margin-top: -23px;
    margin-bottom: 3px;
    color: $black;
    font-size: 20px;
    line-height: 26px;
    border-bottom: 0;
  }

  p {
    margin-top: -8px;
    line-height: 20px;
    color: $black;
    border-bottom: 0;
    word-wrap: break-word;
  }
}

// Products

.pr_menu {
  margin-top: 10px;
  overflow: hidden;

  a {
    color: $arkw-color;
  }
}

.pr_menu_item {
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  float: left;
  border: solid 1px $arkw-color;
  border-radius: 15px;
}

.pr_menu_selected {
  background-color: $arkw-color;
  color: $white;
  transition-property: background-color, color, text-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.pr_list_bg {
  margin: 10px 0;
}

#pr_item_web,
#pr_item_dev {
  display: none;
}

// Works

.works {
  margin: 10px 0;
  margin-left: 2px;
  overflow: hidden;
  box-sizing: border-box;
}

.works-wrapper {
  padding-bottom: 5px;
}

.works-box {
  width: 341px;
  height: 80px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: $arkw-color;
  border-radius: 5px;
  box-shadow: 0 1px 3px $gray;
  float: left;
}

.works-box-text {
  width: 341px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: $white;
  border-radius: 5px;
  text-shadow: 0 0 2px $gray;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  h1 {
    width: 95%;
    position: absolute;
    left: 10px;
    top: 4px;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h2 {
    position: absolute;
    left: 10px;
    top: 2px;
    font-size: 14px;
    font-weight: normal;
  }
}

.works a,
.works-box-text {
  &:hover {
    opacity: 1;
  }
}

.works-box-inside {
  position: absolute;
  left: 10px;
  top: 55px;
  overflow: hidden;

  div {
    margin-right: 6px;
    padding: 0 6px;
    padding-bottom: 1px;
    border-radius: 10px;
    font-size: 10px;
    float: left;

    &.web {
      background-color: #673ab7;
    }

    &.graphic {
      background-color: #2196f3;
    }

    &.system {
      background-color: #607d8b;
    }

    &.movie {
      background-color: #f44336;
    }
  }
}

// Footer

.footer {
  margin-top: 60px;
  padding: 30px 0;
  background-color: $arkw-color;
  color: $white;
  line-height: 26px;
}

// Others

.link-banner {
  margin-bottom: 3px;
}
