/* stylelint-disable value-list-comma-newline-after */
/* stylelint-disable declaration-colon-newline-after */
// Common

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

body {
  font-size: 14px;
}

a {
  color: $arkw-color;
}

p,
.main .right th,
.main .right td {
  line-height: 22px;
}

span {
  &.spec {
    color: $gray;
  }
}

// Wrapper

.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

// Main

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 5px;
  margin: auto;
  overflow: hidden;

  h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 26px;
    font-weight: normal;

    &.heading {
      padding-top: 20px;
      padding-bottom: 10px;
      overflow: hidden;
      color: $arkw-color;
    }
  }

  p {
    padding: 5px 0;
  }

  .left {
    box-sizing: border-box;
    float: left;
    width: 35%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .right {
    box-sizing: border-box;
    float: right;
    width: 65%;
    padding-right: 30px;
    padding-left: 30px;

    h2 {
      padding: 10px 0;
      font-size: 16px;
      font-weight: bold;
    }

    th {
      padding-right: 20px;
      text-align: left;
      white-space: nowrap;
      vertical-align: top;
    }

    ul {
      padding-left: 17px;
    }

    li {
      padding-left: 5px;
      line-height: 24px;
    }
  }
}

.social {
  padding-right: 5px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.link-banner {
  margin: 0;
}
