// Responsive CSS

@media screen and (max-width: 1280px) {
  .navi {
    width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .wrapper {
    width: 100%;
  }

  .header,
  .footer {
    padding-left: 20px;
  }

  .main,
  .main .left,
  .main .right {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .main .right {
    float: left;
  }

  .topics {
    margin-bottom: 10px;
  }

  .products .box {
    overflow: hidden;

    .topics {
      float: left;
      width: 50%;
      padding-right: 0;

      .main {
        width: calc(100% - 115px);

        h1 {
          margin-top: -16px;
        }

        h1,
        p {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h1 {
          white-space: nowrap;
        }

        p {
          display: box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}

@media screen and (max-width: 899px) {
  .works {
    height: 300px;
    overflow-y: scroll;
  }

  .works-box {
    width: 99%;
    background-size: cover;
    box-shadow: none;
  }

  .works-box-text {
    width: 100%;
    opacity: 1;
  }

  .products .box {
    .topics {
      width: 100%;
      margin-right: 0;
    }
  }
}
