h1.title {
  padding-bottom: 20px;
  font-size: 52px;
  color: $arkw-color;
}

.main.sub {
  margin-top: -15px;
}

.sub {
  padding-top: 0;

  .breadcrumb {
    margin-top: 28px;
    margin-bottom: -25px;

    a {
      text-decoration: none;
    }
  }
}
