.warning {
  padding: 10px;
  margin: 10px 0;
  color: $white;
  background-color: $red;

  span {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
  }

  p {
    padding-left: 5px;
  }

  a {
    color: $white;
  }
}
