.chip {
  margin: 15px 0;
  overflow: hidden;

  .box {
    height: 30px;
    margin: 0 6px 6px 1px;
    box-sizing: border-box;
    border: solid 1px #bdbdbd;
    border-radius: 8px;
    float: left;
    overflow: hidden;

    .image,
    .text {
      float: left;
    }

    .image {
      padding: 6px 3px 6px 8px;

      img {
        height: 18px;
      }
    }

    .text {
      padding: 6px 12px 6px 3px;
      color: #212121;
    }
  }
}
