.chip {
  margin: 15px 0;
  overflow: hidden;

  .box {
    box-sizing: border-box;
    float: left;
    height: 30px;
    margin: 0 6px 6px 1px;
    overflow: hidden;
    border: solid 1px $gray-400;
    border-radius: 8px;

    .image,
    .text {
      float: left;
    }

    .image {
      padding: 7px 3px 6px 8px;

      img {
        height: 14px;
      }
    }

    .text {
      padding: 6px 12px 6px 6px;
      color: $gray-900;
    }
  }
}
