.footer {
  padding: 30px;
  margin-top: 60px;
  line-height: 26px;
  color: $arkw-color;
  background-color: $arkw-color-background;

  p {
    margin: 5px 0;
  }

  .small,
  .small a {
    font-size: 12px;
    line-height: 16px;
    color: $arkw-color-light;
  }
}

@media screen and (max-width: 1240px) {
  .footer {
    margin-top: 20px;
    padding: 30px 20px;
  }
}
