.header {
  position: relative;
  z-index: 100;
  padding: 15px 30px 11px;

  img {
    height: 60px;
  }

  .icon {
    position: absolute;
    right: 30px;
    top: 0;

    .language {
      padding: 5px 15px;
      margin-top: 29px;
      color: $gray-600;
      border: solid 1px $gray-500;
      border-radius: 15px;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .header {
    padding: 15px 20px 11px;

    .icon {
      right: 20px;
    }
  }
}

@media screen and (max-width: 370px) {
  .header {
    .icon {
      display: none;
    }
  }
}
