.header {
  position: relative;
  z-index: 100;
  padding: 15px 30px 11px;

  img {
    height: 60px;
  }

  .icon {
    position: absolute;
    right: 30px;
    top: 0;

    div.locale {
      padding: 5px 15px;
      margin-top: 29px;
      color: $gray-600;
      border: solid 1px $gray-500;
      border-radius: 15px;
      box-sizing: border-box;
      font-family: "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
        sans-serif;

      &:hover {
        cursor: pointer;
      }
    }

    .menu {
      &.locale {
        width: 120px;
        padding: 8px 0;
        position: absolute;
        right: 0;
        top: 65px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 3px $gray-600;
        z-index: 100;

        li {
          padding: 3px 15px 7px 15px;
          color: $gray-900;
          font-family: "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
            "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
            sans-serif;
          font-size: 16px;
          list-style-type: none;

          &:hover {
            background-color: $gray-300;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .header {
    padding: 15px 20px 11px;

    .icon {
      right: 20px;
    }
  }
}

@media screen and (max-width: 370px) {
  .header {
    .icon {
      display: none;
    }
  }
}
