.header {
  position: relative;
  z-index: 100;
  padding: 15px 30px 11px;

  .logo {
    width: 230px;

    .mobile {
      display: none;
    }

    img {
      height: 60px;
    }
  }

  .icon {
    position: absolute;
    top: 0;
    right: 30px;

    div.locale {
      box-sizing: border-box;
      padding: 5px 15px;
      margin-top: 29px;
      font-family:
        "Noto Sans JP",
        "メイリオ",
        Meiryo,
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro",
        Osaka,
        "ＭＳ Ｐゴシック",
        "MS PGothic",
        sans-serif;
      color: $gray-600;
      border: solid 1px $gray-500;
      border-radius: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .menu {
      &.locale {
        position: absolute;
        top: 65px;
        right: 0;
        z-index: 100;
        width: 120px;
        padding: 8px 0;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 3px $gray-600;

        li {
          padding: 3px 15px 7px;
          font-family:
            "Noto Sans JP",
            "メイリオ",
            Meiryo,
            "ヒラギノ角ゴ Pro W3",
            "Hiragino Kaku Gothic Pro",
            Osaka,
            "ＭＳ Ｐゴシック",
            "MS PGothic",
            sans-serif;
          font-size: 16px;
          color: $gray-900;
          list-style-type: none;

          &:hover {
            cursor: pointer;
            background-color: $gray-300;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .header {
    padding: 15px 20px 11px;

    .icon {
      right: 20px;
    }
  }
}

@media screen and (max-width: 370px) {
  .header {
    .logo {
      width: 60px;

      .pc {
        display: none;
      }

      .mobile {
        display: block;
      }
    }
  }
}
