/* stylelint-disable selector-id-pattern */
.products {
  padding-top: 10px;
  overflow: hidden;

  h2 {
    padding-top: 12px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: normal;

    span {
      padding-right: 2px;
      font-size: 18px;
      color: $gray-600;
    }
  }

  a {
    color: $arkw-color;
  }

  .item {
    float: left;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 10px;
    color: $arkw-color;
    background-color: $arkw-color-background;
    border-radius: 15px;
  }

  .selected {
    color: $arkw-color-background;
    background-color: $arkw-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, color, text-shadow;
  }
}

.products-background {
  margin: 10px 0;
}

#pr_item_web,
#pr_item_dev {
  display: none;
}
