.pr_menu {
	overflow: hidden;

	a {
		color: $arkw-color;
	}
}

.pr_menu_item {
	margin-top: 5px;
	margin-right: 10px;
	padding: 5px 10px;
	float: left;
	border: solid 1px $arkw-color;
	border-radius: 15px;
}

.pr_menu_selected {
	background-color: $arkw-color;
	color: $white;
	transition-property: background-color,color,text-shadow;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.pr_list_bg {
	margin: 10px 0;
}

#pr_item_web, #pr_item_dev {
	display: none;
}
