.topics {
  padding-right: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  border: solid 1px #e0e0e0;
  border-radius: 5px;

  .icon {
    float: left;
    width: 100px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .main {
    float: right;
    width: calc(100% - 115px);

    h1 {
      padding-top: 0;
      margin-top: -6px;
      margin-bottom: 3px;
      font-size: 20px;
      line-height: 26px;
      color: $black;
      border-bottom: 0;
    }

    p {
      margin-top: -8px;
      line-height: 20px;
      color: #757575;
      word-wrap: break-word;
      border-bottom: 0;
    }
  }
}
