.topics {
  height: 110px;
  padding-right: 20px;
  overflow: hidden;

  .icon {
    width: 100px;
    height: 100px;
    padding: 2px;
    float: left;

    img {
      width: 100px;
      height: 100px;
      box-shadow: 1px 1px 2px $gray-500;
      border-radius: 10px;
    }
  }

  .main {
    margin-top: -2px;
    float: right;
    width: calc(100% - 115px);

    h1 {
      padding-top: 0;
      margin-top: -14px;
      margin-bottom: 3px;
      font-size: 20px;
      line-height: 26px;
      color: $black;
      border-bottom: 0;
    }

    p {
      margin-top: -8px;
      line-height: 20px;
      color: $gray-600;
      word-wrap: break-word;
      border-bottom: 0;
    }
  }
}

.height-auto {
  height: auto;
  margin: 5px 0;
}
