.works {
  box-sizing: border-box;
  margin: 10px 0;
  overflow: hidden;

  .wrapper {
    padding-bottom: 5px;

    .box {
      position: relative;
      float: left;
      width: calc(50% - 10px);
      height: 100px;
      margin: 2px 0;
      margin-right: 5px;
      background-color: $arkw-color;
      background-size: cover;
      border-radius: 5px;

      .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        background-color: rgb(0 0 0 / 70%);
        border-radius: 5px;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        transition-property: opacity;

        h1 {
          position: absolute;
          top: 10px;
          left: 15px;
          width: 95%;
          overflow: hidden;
          font-family:
            "Noto Sans JP",
            "メイリオ",
            Meiryo,
            "ヒラギノ角ゴ Pro W3",
            "Hiragino Kaku Gothic Pro",
            Osaka,
            "ＭＳ Ｐゴシック",
            "MS PGothic",
            sans-serif;
          font-size: 18px;
          font-weight: normal;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        h2 {
          position: absolute;
          top: 2px;
          left: 15px;
          font-size: 14px;
          font-weight: normal;
        }

        .inside {
          position: absolute;
          top: 66px;
          left: 15px;
          overflow: hidden;

          div {
            float: left;
            padding: 0 6px;
            padding-bottom: 1px;
            margin-right: 6px;
            font-size: 10px;
            border-radius: 10px;

            &.web {
              background-color: $work-web;
            }

            &.graphic {
              background-color: $work-graphic;
            }

            &.system {
              background-color: $work-system;
            }

            &.movie {
              background-color: $work-movie;
            }
          }
        }
      }
    }
  }
}

.works .box .text:hover {
  opacity: 0;
}

@media screen and (max-width: 899px) {
  .works {
    height: 300px;
    overflow-y: scroll;

    .wrapper {
      .box {
        width: 100%;
        background-size: cover;
        box-shadow: none;

        .text {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}
